@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/peyda.woff2') format('woff2'),
    url('/fonts/peyda.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAF9F6;
    --foreground: #505050;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Peyda', system-ui, -apple-system, sans-serif;
}
svg{
  width: 1rem;
}